<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="canacollector.cc.com.example.android.canacollectormanager">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.Main.LoginActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Main.MainActivity"
            android:label="@string/title_topbar"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.parse.PushService" />
        <!-- <receiver android:name=".helper.CustomPushReceiver" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.parse.push.intent.RECEIVE" /> -->
        <!-- <action android:name="com.parse.push.intent.DELETE" /> -->
        <!-- <action android:name="com.parse.push.intent.OPEN" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.example.cc.canacollector" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".View.Main.NewAccountActivity"
            android:label="@string/title_activity_new_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Management.ManagementActivity"
            android:label="Funcionários"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Alembic.AlembicActivity"
            android:label="Alambique"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Management.NewUserActivity"
            android:label="@string/title_activity_new_user"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
